.bar {
	background-color: rgba(155,155,155,0.8);
	font-family: sans-serif;
	font-size: 1em;
	font-weight: bold;
	height: 50px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.complete {
	background-color: black;
	color: white;
	content: ' ';
	display: block;
	height: inherit;
	left: 0;
	position: relative;
	text-align: right;
	width: 0px;
	z-index: 2;
}

.percent {
	bottom: 0;
	float: left;
	font-size: 1.5em;
	height: 1.5em;
	left: 0;
	margin: auto 0;
	position: absolute;
	right: 20px;
	top: 0;
}

.time {
	bottom: 0;
	height: 1em;
	margin: auto;
	opacity: 0.4;
	position: absolute;
	right: 50px;
	top: 0;
}